<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link href="/stylesheets/navbar-top-fixed.css" rel="stylesheet">
    <link href="/stylesheets/sticky-footer.css" rel="stylesheet">
    <link href="/stylesheets/main.css" rel="stylesheet">
    <title>BCP Inventory Management</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand white">BCP IMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <% if(!currentUser){ %>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">Admin
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            <% } else { %>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/products">View Products
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products/item/add">Add Item
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/products/inventory/<%= user._id %>">View <%=user.firstName %>'s Inventory
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hello <%= currentUser.username %>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout">Logout
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            <% } %>
        </div>
    </nav>

    <div class="container">
    <% if(error && error.length > 0) { %>
      <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <%= error %>
      </div>
    <% } %>
    <% if(success && success.length > 0) { %>
      <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <%= success %>
      </div>
    <% } %>
  </div>