<% include ./partials/header %>
<div class="bg-blue">
    <div class="container-fluid">
        <div class="row text-center">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Date Added</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Description</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody>
                <% items.forEach(function(item){ %>
                    <tr>
                        <th scope="row"><%= item.createdAt.toDateString() %></th>
                        <th scope="row"><%= item.name %></th>
                        <td><%= item.price %></td>
                        <td><%= item.description %></td>
                        <% if(!currentUser){ %>
                            <td>
                                <a class="btn btn-primary btn-sm btn-adj" href="/products/item/<%= item._id %>">Info</a>
                            </td>
                        <% } else { %>
                            <td>
                                <a class="btn btn-primary btn-sm btn-adj" href="/products/item/<%= item._id %>">Info</a>
                                <a class="btn btn-warning btn-sm btn-adj" href="/products/item/<%= item._id %>">Edit</a>
                                <form id="delete-form" action="/products/item/<%= item._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-danger btn-sm btn-adj" href="/products/item/<%= item._id %>">Delete</button>
                                </form>
                            </td>
                        <% } %>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% include ./partials/footer %>