<% include ../partials/header %>
<div class="bg-blue">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col">
                <h4>Items posted by <%= user.firstName %></h4>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Date Added</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% items.forEach( item => { %>
                        <tr>
                            <td scope="row"><%= item.createdAt.toDateString() %></td>
                            <td scope="row"><img class="img-sm" src="<%= item.image %>"></td>
                            <td scope="row"><a href=""><%= item.name %></a></td>
                            <td scope="row"><%= item.description %></td>
                            <td scope="row"><%= item.price %></td>
                            <td scope="row">
                                <div class="btn-group">
                                    <a class="btn btn-warning btn-sm" href="/products/item/<%= item._id %>/update">Update</a>
                                    <form id="delete-form" action="/products/item/<%= item._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger btn-sm" href="/products/item/<%= item._id %>">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>